@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.cards_programación{
    overflow: hidden;
}

.cards_programación_imagen{
    width: 50vw;
}


.cards_programación_texto{
    color: white;
    font-family: 'Russo One', sans-serif;
    width: 50vw;
}

.cards_programación_texto h3{
    font-size: 15px;
    text-align: center;
    background-color: #161a42;
}

.cards_programación_texto p{
    font-size: 8px;
    color: black;
}