.seccion_contacto ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 0;
    align-items: center;
}

.seccion_contacto ul li{
    background-color: #161a42;
    padding: 2%;
    margin: 2% 5%;
    cursor: pointer;
}

.seccion_contacto ul li:hover{
    background-color: #ffffff;
    padding: 2%;
    margin: 2% 5%;
    cursor: pointer;
}

.seccion_contacto ul li img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;

}

footer{
    display: flex;
    background-color: #20233f;
    bottom: 0;
}